################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TRABAJO_ASEGURADORA_GRUPO1/obj/Debug
