################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TRABAJO_ASEGURADORA_GRUPO1/obj/Debug
/TRABAJO_ASEGURADORA_GRUPO1/.vs/TRABAJO_ASEGURADORA_GRUPO1/v17
